.home {
  padding: 56px 20px;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-shadow: none;
}

.get-started {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
}

.get-started a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.hero-text {
  font-size: 70px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

@media (min-width: 992px) {
  .home {
    background: #5cc989;
    position: absolute;
    top: 0;
    height: 100%;
    min-height: 800px;
  }
}
