.self {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: black;
}

.upper-layer {
  position: relative;
  z-index: 1;
  height: 100%;
}

.blurred .self {
  filter: blur(10px) brightness(0.75);
  transform: scale(1.1);
}
