.job-summary__line-items--separator {
  border-bottom: 1px solid #00cd83;
  margin: 15px 0px;
}

.completed-jobs--container {
  background: rgba(255, 255, 255, 0.75);
  color: black;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 15px 20px;
  text-shadow: none;
}

.completed-jobs {
  overflow: hidden;
  transition: all 1s;
  max-height: 0px;
}

.job-summary__line-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.job-summary__line-items--separator {
  border-bottom: 1px solid #00cd83;
}

.completed-jobs h1 {
  color: #00cd83;
  font-size: 26px;
  padding: 0;
  margin: 0px;
  margin-bottom: 30px;
}

.completed-jobs.visible {
  max-height: 2000px;
}

.content {
  transition: opacity 1s 1s, max-height 0s 2s;
  max-height: 1000px;
}

.content.see-all {
  transition: opacity 1s;
}

.text-button {
  background: none;
  border: 0;
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #00cd83;
  transition: all 1s 0.75s;
  cursor: pointer;
  max-height: 100px;
  font-family: "DIN Alternate Bold", "Helvetica Neue", arial, sans-serif;
}

.text-button--white {
  color: white;
  margin: auto;
  opacity: 0.8;
  font-size: 24px;
  text-shadow: 0px 0px 10px #000000;
}

.text-button.fade {
  transition: none;
  opacity: 0;
  max-height: 0;
}

.content.fade {
  transition: opacity 0.25s 0s, max-height 0s 0.25s;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  z-index: -1;
}

.grand-total {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  font-size: 34px;
}

.job__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.job {
  list-style-type: none;
  width: 120px;
  margin: 25px 10px;
  cursor: pointer;
}
.job__image--container {
  position: relative;
  height: 145px;
  width: 130px;
  margin: auto;
}

.job a {
  color: white;
  text-decoration: none;
}
.job__earnings--container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.job__earnings {
  color: black;
  text-transform: uppercase;
  background: #00cd83;
  display: inline-block;
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 15px;
  text-shadow: none;
}
.job__trait {
  text-transform: uppercase;
}

.job__name {
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 2px;
}

@media (min-width: 992px) {
  .choose-job__container {
    height: 100%;
  }
  .completed-jobs--container {
    width: 375px;
    margin-left: 60px;
    position: relative;
    z-index: 5;
  }

  .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 50px;
  }

  .content--wrapper {
    width: 100%;
  }

  .job {
    width: calc(25% - 20px);
  }

  .job__trait,
  .job__name {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .header {
    text-align: center;
  }
}
