.grand-total {
  background: rgba(255, 255, 255, 0.75);
  color: black;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 15px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  font-size: 34px;
  text-shadow: none;
}

.grand-total__amount {
  color: #00cd83;
}

.job__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
}

.job {
  list-style-type: none;
  width: calc(50vw - 15px);
  margin: 25px 0;
}
.job__image--container {
  position: relative;
  height: 115px;
  width: 100px;
}
.job__image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: lightgrey;
}

.job__image:hover {
  border: 5px solid #00cd83;
}

.job a {
  color: white;
  text-decoration: none;
}
.job__earnings--container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.job__earnings {
  color: black;
  text-transform: uppercase;
  background: #00cd83;
  display: inline-block;
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 15px;
  text-shadow: none;
}
.job__trait {
  text-transform: uppercase;
}

@media (min-width: 992px) {
  .choose-job__container {
    height: 100%;
  }
  .grand-total {
    width: 375px;
    margin-left: 60px;
  }

  .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 50px;
  }

  .job {
    width: 200px;
  }
}
