.rating-gauge {
  z-index: 3;
  height: 20vh;
  width: 20vh;
  margin-bottom: 15px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='350' width='100'%3E%3Cpath d='M0,300 a1,1 0 0,0 100,0' fill='white' /%3E%3Cpolygon points='50,0 100,301 0,301' style='fill:white;' /%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(-90deg);
  transform-origin: 50% 90%;
  transition: transform 1s;
  position: absolute;
  bottom: 0;
  left: calc(50% - 10vh);
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

.rating-gauge__container {
  position: relative;
}

.rating-gauge__comment--container {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  height: 25vh;
  margin: 15px;
}
.rating-gauge__comment {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.rating-gauge__value {
  font-weight: bold;
  font-size: 46px;
}
