@font-face {
  font-family: "DIN Alternate Bold";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/DINAlternate-Bold.woff") format("woff");
}

@font-face {
  font-family: "VT323";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/vt323-v12-latin-regular.woff") format("woff");
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fafafa;
  font-family: "DIN Alternate Bold", "Helvetica Neue", arial, sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 400px;
}
html {
  overflow: hidden;
}
body {
  overflow: auto;
}
* {
  box-sizing: border-box;
}

#app {
  height: 100%;
  background: #00cd83;
  color: white;
  font-size: 24px;
  text-shadow: 0px 0px 10px #000000;
}

h2 {
  color: white;
  font-size: 24px;
}

.content {
  padding: 20px;
}

.desktop-banner {
  background: #00cd83;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  text-shadow: none;
}

.desktop-banner__logo {
  background-image: url("/assets/images/facework-logo.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}

.hidden-video {
  height: 0;
  opacity: 0;
}

@media (min-width: 992px) {
  #app {
    background: #bbb8b6;
  }
  body,
  html {
    min-height: 800px;
  }
}

@media (max-width: 992px) {
  .desktop-banner {
    display: none;
  }
}
