@font-face {
  font-family: "DIN Alternate Bold";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/DINAlternate-Bold.woff") format("woff");
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fafafa;
  font-family: "DIN Alternate Bold", "Helvetica Neue", arial, sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
  background: #5cc989;
  color: white;
  font-size: 24px;
}

h2 {
  color: black;
  font-size: 24px;
}

.content {
  padding: 15px;
}
