.job-summary__container {
  height: 100%;
}

.job-summary-page table {
  margin-bottom: 2rem;
}

.job-summary__body {
  background: rgba(255, 255, 255, 0.75);
  color: black;
  padding: 15px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  text-shadow: none;
}

.job-summary__body h1 {
  color: #00cd83;
  font-size: 26px;
  padding: 0;
  margin: 0px;
  margin-bottom: 30px;
}

.job-summary__line-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.job-summary__line-items--separator {
  border-bottom: 1px solid #00cd83;
  margin: 15px;
}

.job-summary__grand-total--container {
  margin: 15px 0;
}

.job-summary__grand-total--header {
  font-size: 29px;
}

.job-summary__grand-total {
  color: #00cd83;
}

.job-summary__footer {
  text-align: center;
  margin: 15px;
}

.hidden {
  display: none;
}

@media (min-width: 992px) {
  .job-summary__body {
    width: 375px;
    margin-left: 60px;
  }
  .job-summary__footer {
    display: flex;
    justify-content: center;
  }
  .job-summary__footer--padding {
    width: 440px;
  }
  .job-summary__footer--padding:nth-child(1),
  .job-summary__footer--message {
    flex-shrink: 0;
  }
}
