.rating-gauge {
  z-index: 3;
  height: 100px;
  width: 100%;
  margin-bottom: 5px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='265' width='100'%3E%3Cpath d='M99.978,215.558c.005-.29.022-.5768.022-.8679h-.1661L50,0,.1661,214.69H0c0,.2911.017.5779.022.8679L0,215.69H.0253a49.9844,49.9844,0,0,0,99.9494,0H100Z' style='fill:white'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(-90deg);
  transform-origin: 50% calc(100% - 15px);
  transition: transform 1s;
  position: absolute;
  bottom: 0;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

.rating-gauge__container {
  position: relative;
  background-image: url("/assets/images/donut.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  margin: 0 30px;
  min-width: 300px;
  height: 120px;
}

.rating-gauge__comment--container {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  position: relative;
  top: -45px;
  left: 90px;
  width: 200px;
  margin: auto;
}

@keyframes pop {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  25% {
    transform: scale(1.5);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 0;
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.rating-gauge__comment {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.rating-gauge__comment--only {
  animation-name: fade;
  animation-duration: 5s;
  opacity: 0;
}

.rating-gauge__value {
  font-weight: bold;
  font-size: 46px;
  animation-name: pop;
  animation-duration: 2s;
  opacity: 0;
}

@media (min-width: 992px) {
  .rating-gauge__container {
    height: 150px;
  }
  .rating-gauge {
    height: 130px;
    transform-origin: 50% calc(100% - 25px);
  }
}
