<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title><% preact.title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@kcimc">
    <meta name="twitter:creator" content="@kcimc">
    <meta name="twitter:image" content="/assets/images/social-card.jpg">

    <meta name="description"
        content="Our AI finds the perfect face for every job. Audition for each job by showing us you can make your face fit what the job needs.">

    <meta property="og:url" content="https://facework.app/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Facework" />
    <meta property="og:description"
        content="Our AI finds the perfect face for every job. Audition for each job by showing us you can make your face fit what the job needs." />
    <meta property="og:image" content="/assets/images/social-card.jpg" />
    <meta property="og:image:alt" content="Screenshot of the Facework website showing the audition mode.">

    <% preact.headEnd %>
</head>

<body>
    <% preact.bodyEnd %>
</body>

</html>