.versus {
  padding: 56px 20px;
  min-height: 100%;
  width: 100%;
}

.flex-row-wrap {
  display: flex;
  flex-flow: row wrap;
}

.accompaniment {
  display: flex;
  flex-flow: column wrap;
  margin-left: 2rem;
}

.selfie-status {
  margin-bottom: 1rem;
  font-size: large;
}
