.chat-page {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 9;
  text-shadow: none;
}

.chat-message {
  background: #882b77;
  color: white;
  list-style-type: none;
  margin: 20px 0;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  clear: both;
  float: left;
  z-index: 1;
}

.chat-message::before {
  height: 0px;
  width: 0px;
  content: "";
  position: absolute;
  bottom: -18px;
  left: 0;
  border: 20px solid black;
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #882b77;
  z-index: -1;
}

.chat-message__list {
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.5;
}

@media (min-width: 992px) {
  .chat-message__list {
    width: 800px;
    margin: auto;
  }

  .chat-page {
    margin-top: -100px;
  }
}
