.app-error {
  background: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  text-shadow: none;
}

pre {
  max-width: 100%;
  overflow-wrap: normal;
  white-space: pre-wrap;
  color: rgb(0, 255, 0);
  font-family: "VT323";
  z-index: 2;
  position: relative;
  max-width: 28em;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.15;
  image-rendering: pixelated;
  z-index: 0;
}

a {
  color: inherit;
}

@media (min-width: 992px) {
  .app-error {
    min-height: 800px;
  }
}
